In [1]:
import numpy as np
import pandas as pd

netflix = pd.read_csv('NFLX.csv')

netflix['Date'] = pd.to_datetime(netflix['Date'])
netflix['year'] = netflix['Date'].dt.year
netflix['month'] = netflix['Date'].dt.month
netflix['day'] = netflix['Date'].dt.day
[42]
netflix.head(3)
[45]
netflix.drop('Date',axis=1,inplace=True)
[46]
netflix
Asking Six Questions
[47]
netflix.shape
(1009, 9)
[48]
netflix.isnull().sum()
Open 0
 High 0
 Low 0
 Close 0
 Adj Close 0
 Volume 0
 year 0
 month 0
 day 0
 dtype: int64
[49]
netflix.duplicated().sum()
0
[50]
netflix.info()

netflix.describe()
EDA
[53]

SyntaxError: invalid syntax (2558594872.py, line 16)

In [ ]:
import seaborn as sns
 import matplotlib.pyplot
[54]
corr = netflix.corr()
[55]
corr
[59]
sns.heatmap(corr,annot=True,cmap='coolwarm',cbar=True)
data scatterness
[61]
sns.pairplot(netflix)
data destribution
[65]
for i in netflix.columns:
 plt.figure(figsize=(10,6))
 sns.distplot(netflix[i])
 plt.title(i)
 plt.show()

In [ ]:
Train Test Split
[67]
X = netflix.drop('Close',axis=1)
 y = netflix['Close']
[70]
X.shape
(1009, 8)
[71]
y.shape
(1009,)

In [ ]:
from sklearn.model_selection import train_test_split
[72]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=2)
[73]
X_train.shape
(807, 8)
[74]
X_test.shape
(202, 8)
Normalizating Data Using StandarScaler
[76]
X_train
[75]

In [ ]:
from sklearn.preprocessing import StandardScaler
 sclr = StandardScaler()
[77]
X_train = sclr.fit_transform(X_train)
 X_test = sclr.transform(X_test)
[78]
X_train

In [ ]:
Using Regression
[80]
from sklearn.linear_model import LinearRegression
 lr = LinearRegression()
 
 lr.fit(X_train,y_train)
 y_pred = lr.predict(X_test)
[81]
y_pred

In [ ]:
EValuation
[82]
from sklearn.metrics import r2_score,mean_squared_error
[83]
r2_score(y_test,y_pred)
1.0
[84]
mean_squared_error(y_test,y_pred)
3.651066963475181e-27
Prediction Model
[87]

In [ ]:
def pred(Open,High,Low,Adj_Close,Volume,year,month,day):
 features = np.array([[Open,High,Low,Adj_Close,Volume,year,month,day]])
 features = sclr.fit_transform(features)
 prediction = lr.predict(features).reshape(1,-1)
 return prediction[0]
[88]
Open = 200.45
 High = 250.45
 Low = 150.45
 Adj_Close = 100.34
 Volume = 100.45
 year = 2020
 month = 8
 day = 4
 
 res = pred(Open,High,Low,Adj_Close,Volume,year,month,day)
[89]
print(res)
[418.63804176]
[90]

In [ ]:
import pickle
 pickle.dump(lr,open('model.pkl','wb'))

In [5]:
netflix = pd.read_csv('NFLX.csv')
netflix.head()

         Date      Open      High       Low     Close  Adj Close     Volume
0  2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1  2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800
2  2002-05-28  1.213571  1.232143  1.157143  1.157143   1.157143    6609400
3  2002-05-29  1.164286  1.164286  1.085714  1.103571   1.103571    6757800
4  2002-05-30  1.107857  1.107857  1.071429  1.071429   1.071429   10154200